// Base process configuration — resource labels used across modules.

process {
  errorStrategy = { (task.exitStatus in 130..145 || task.exitStatus == 104) ? 'retry' : 'finish' }
  maxRetries = 2
  maxErrors = -1

  withLabel: gpu {
    maxForks = 1
    accelerator = [request: 1, type: 'nvidia.com/gpu']
  }

  withLabel: pvc_io_retry {
    errorStrategy = { (task.exitStatus in 130..145 || task.exitStatus in [1, 104]) ? 'retry' : 'finish' }
  }
}

aws {
  client {
    endpoint = 'http://192.168.1.4:3900'
    s3PathStyleAccess = true
  }
}

profiles {
  'k8s-onprem' {
    process {
      executor = 'k8s'
    }
    workDir = '/app/lynceus/work'
    params {
      registry = 'registry.nebula.lan:5000'
    }
    k8s {
      namespace = 'lynceus'
      context = 'default'
      storageClaimName = 'lynceus-work'
      storageMountPath = '/app/lynceus/work'
    }
  }
}
