// Base process configuration — resource labels used across modules.

process {
  errorStrategy = { (task.exitStatus in 130..145 || task.exitStatus == 104) ? 'retry' : 'finish' }
  maxRetries = 2
  maxErrors = -1

  pod = [[env: 'BLOB_ENDPOINT', value: '192.168.1.4:3900'], [env: 'BLOB_REGION', value: 'us-east-1'], [env: 'BLOB_USE_SSL', value: 'false'], [env: 'BLOB_URL_STYLE', value: 'path'], [env: 'BLOB_ACCESS_KEY_ID', secret: 'garage-s3-credentials/BLOB_ACCESS_KEY_ID'], [env: 'BLOB_ACCESS_KEY', secret: 'garage-s3-credentials/BLOB_ACCESS_KEY']]

  withLabel: gpu {
    accelerator = [request: 1, type: 'nvidia.com/gpu']
  }

  withLabel: pvc_io_retry {
    errorStrategy = {
      if (task.exitStatus in [137, 143, 75] || task.attempt <= 5) {
        def delaySec = Math.min(Math.pow(2, task.attempt) as long, 60)
        sleep(delaySec * 1000)
        return 'retry'
      }
      return 'finish'
    }
    maxRetries = 5
    maxErrors = -1
  }

  withLabel: process_high {
    cpus = 6
  }
}


aws {
  client {
    endpoint = 'http://192.168.1.4:3900'
    s3PathStyleAccess = true
  }
}

profiles {
  'k8s-onprem' {
    process {
      executor = 'k8s'
    }
    workDir = '/app/lynceus/work'
    params {
      registry = 'registry.nebula.lan:5000'
    }
    k8s {
      namespace = 'lynceus'
      context = 'default'
      storageClaimName = 'lynceus-work'
      storageMountPath = '/app/lynceus/work'
      pullPolicy = 'Always'
    }
  }
}
